<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>com.searchpage.uninstallerwatcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>&quot;$HOME/Library/SPI/uninstallerwatcher.sh&quot;</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Applications/spi.app</string>
	</array>
</dict>
</plist>
